<section class="bg-dark text-center" id="gallery">
  <div class="grid">
    <div class="content-container">
      <h1 class="section-header">Gallery</h1>
      <hr class="solid" />
      <div class="swipers-container">
        <swiper-container class="swiper-element">
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/before1.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/after1.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/before2.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/after2.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/before3.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/after3.jpg"
          /></swiper-slide>
        </swiper-container>
      </div>
      <div class="swipers-container">
        <swiper-container class="swiper-element">
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/room1-1.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/room1-2.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/room1-3.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/room1-4.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/room1-5.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/room1-6.jpg"
          /></swiper-slide>
        </swiper-container>
      </div>
      <div class="container">
        <swiper-container
          class="swiper-element tall"
          pagination="true"
          effect="coverflow"
          grab-cursor="true"
          centered-slides="true"
          slides-per-view="auto"
          coverflow-effect-rotate="50"
          coverflow-effect-stretch="0"
          coverflow-effect-depth="100"
          coverflow-effect-modifier="1"
          coverflow-effect-slide-shadows="true"
        >
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/Flooring/1.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/Flooring/2.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/Flooring/3.jpg"
          /></swiper-slide>
          <swiper-slide
            ><img
              class="swiper-pic"
              src="../../../assets/gallery-images/Flooring/4.jpg"
          /></swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
