

    <section class="pic-container">
      <img class="pic" src="../../../assets/cover-pic.jpg">
    </section>
      
      <!-- First Grid -->
    <section class="text-center">
      <div class="grid" id="services">
        <div class="content-container">

          <div class="w3-twothird">
            <h1 class = "section-header" >Services</h1>

            <div class="cards-container">
              <div class="card bg-light">
                <span class="inside-left"> Residential & Commercial Painting </span>
                <img class="inside-right" src="../../../assets/blue-stroke.png">
              </div>

              <div class="card bg-light">
                <span class="inside-left"> Flooring </span>
                <img class="inside-right" src="../../../assets/blue-stroke.png">
              </div>

              <div class="card bg-light">
                <span class="inside-left"> Siding </span>
                <img class="inside-right" src="../../../assets/blue-stroke.png">
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </section>

      <!-- Second Grid -->
    <section class="bg-light">
      <div class="grid" id="mission">
        <div class="content-container">

          <div class="w3-twothird">
            <h1 class="section-header" >Our Mission</h1>

            <p class="w3-padding-32">
              Our mission for any project is to leave our customers happy and saying 'wow'. 
              At Atlas Pro we believe change is a critical part to growth and happiness. Our mission is to give people a new perspective 
              on how they view their homes and how a simple change can make a world of difference. Sometimes its the small details that make 
              the biggest difference, and giving your home a new look with a fresh coat of paint can be just the change you've been looking for.
            </p>
          </div>

        </div>
      </div>
    </section>

      <!-- Third-grid -->
    <section>
      <div class="grid" id="about">
        <div class="content-container">

          <div class="w3-twothird">
            <h1 class = "section-header" >About Us</h1>

            <p class="w3-padding-32">
              Atlas Pro started in the first half of 2020 as a father-son business and has been continuosly growing over the past couple years. 
              Although the company is relativly new,
              our painters are well suited with 15+ years of industry knowledge and experince. Therefore, we are committed to offering proffesional
              results and competative pricing.
            </p>
          </div>

        </div>
      </div>
    </section>

      <!-- Fourth-grod -->
    <section class="bg-dark" id="gallery">
      <div class="grid">
        <swiper #swiper class='swiper'>
          <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/before1.jpg"></ng-template>
          <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/after1.jpg"></ng-template>
          <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/before2.jpg"></ng-template>
          <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/after2.jpg"></ng-template>
          <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/before3.jpg"></ng-template>
          <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/after3.jpg"></ng-template>
      </swiper>
      </div>
    </section>  
      
      <!-- Footer -->
    <section class="bg-dark">
      <div class="grid" id="info">
          <h1></h1>
      </div>
    </section>



<!--Miscillanious
    --Header 
    <header class="header text-center" style="padding:128px 16px">

        <h1 class="homepage-title">Atlas Pro</h1>

        <p class="w3-xlarge">Painting & Home Remodeling</p>
        <p class="w3-xlarge">(770)-316-2965</p>

        <a routerLink="/estimator"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Online Estimate</button></a>
        
    </header>
-->