/*General styles*/
*{
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.3125rem;
    line-height: 1.6;
}

section {
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.grid {
    margin-inline: auto;
    margin-top: 50px;
    width: min(90%, 70.5rem);
    font-size: 1.3125rem;
}

.text-center {
    text-align: center;
}

.section-header {
    font-weight: 500;
}

hr.solid {
    border-top: 3px solid #bbb;
}

/**/
/*60-18.5 b/c problem with box element in nav-bar component*/
.pic-container {
    margin-top: 41.5px;
    margin-inline: auto;
    padding: 0;
    max-height: 600px;
    overflow: hidden;
}

.pic {
    display: block;
    align-content: center;
    max-width: 100%;
}

.cards-container {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 48.5rem;
    margin-inline: auto;
}

.card {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.card-content-container {
    position: relative;
}

.card-detail {
    display: block;
    position: absolute;
    bottom: 0%;
    width: 100%;
    background: linear-gradient(90deg,rgba(0,25,50,.8) 40%,rgba(0,25,50,.2) 100%);
}

.card-label > p{
    margin: 0%;
    color: white;
    font-weight:lighter;
    line-height: 1;
}

.inside-left {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.inside-right {
    width: 3.25em;
}

.swipers-container {
    margin-inline: auto;
    width: min(90%, 50.5rem);
}

.tall{
    width: min(90%, 20.5rem);
}

.swiper {
    margin-bottom: 1rem;
}

.swiper-pic {
    display: block;
    width: 100%;
}

/* possibly re-factor */
.bg-light {
    background-color: #eeeeee;
    
}

.bg-dark {
    background-color: #666666;
    color: #ffffff;
}

/* for small screens */

@media screen and (max-width: 600px) {
    .pic-container{
        margin-top: 60px;
    }
}