

    <section class="pic-container" id="home">
      <img class="pic" src="../../../assets/cover-pic.jpg">
    </section>
      
      <!-- First Grid -->
    <section class="text-center" id="services">
      <div class="grid">
        <hr class="solid">
        <div class="content-container">

          <div class="w3-twothird">
            <h1 class = "section-header" >Services & Service Locations</h1>

            <div class="cards-container">
              <div class="card">
                <div class="card-content-container">
                  <div class="card-pic">
                    <img class="swiper-pic" src="../../../assets/service-card-pics/painting-thumb-pic.jpg" alt="Painting service">
                  </div>
                
                  <div class="card-detail">
                    <div class="card-label">
                      <p>Painting</p>
                    </div>
                  </div>
                </div>
                
              </div>

              <div class="card">
                <div class="card-content-container">
                  <div class="card-pic">
                    <img class="swiper-pic" src="../../../assets/service-card-pics/flooring-thumb-pic.jpg" alt="Flooring installation">
                  </div>
                
                  <div class="card-detail">
                    <div class="card-label">
                      <p>Flooring</p>
                    </div>
                  </div>
                </div>
                
              </div>

              <div class="card">
                <div class="card-content-container">
                  <div class="card-pic">
                    <img class="swiper-pic" src="../../../assets/service-card-pics/siding-thumb-pic.jpg" alt="Siding installation">
                  </div>
                
                  <div class="card-detail">
                    <div class="card-label">
                      <p>Siding</p>
                    </div>
                  </div>
                </div>
                
              </div>

              <div class="card">
                <div class="card-content-container">
                  <div class="card-pic">
                    <img class="swiper-pic" src="../../../assets/service-card-pics/crown-moulding-thumb-pic.jpg" alt="Moulding installation">
                  </div>
                
                  <div class="card-detail">
                    <div class="card-label">
                      <p>Trim & Moulding</p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <div>
            <p>We are based in Brookhaven Georgia, some areas that we've covered include: Atlanta, Acworth, Canton, Kennesaw, Marietta, Alpharetta, and more </p>
          </div>

        </div>
      </div>
    </section>

      <!-- Second Grid -->
    <section class="bg-light" id="mission">
      <div class="grid">
        <hr class="solid">
        <div class="content-container">

          <div class="w3-twothird">
            <h1 class="section-header" >Mission</h1>

            <p class="w3-padding-32">
              At Atlas Pro we are committed to providing quality service while keeping the process simple and stremalined.
              Our mission for any project is to leave our customers happy and saying WOW. 
              
              Sometimes its the small details that make 
              the biggest difference, and giving your home a new look with a fresh coat of paint can be just the change you've been looking for.
            </p>
          </div>

        </div>
      </div>
    </section>

      <!-- Third-grid -->
    <section id="about">
      <div class="grid">
        <hr class="solid">
        <div class="content-container">

          <div class="w3-twothird">
            <h1 class = "section-header" >About Us</h1>

            <p class="w3-padding-32">
              Atlas Pro started in the first half of 2020 as a father-son business and has been continuosly growing over the past couple years. 
              Although the company is relativly new,
              our painters are well suited boasting over 15+ years of industry knowledge and experince. Therefore, we are committed to offering proffesional
              results and competative pricing.
            </p>
          </div>

        </div>
      </div>
    </section>

      <!-- Fourth-grod -->
    <section class="bg-dark text-center" id="gallery">
      <div class="grid">
        <hr class="solid">
        <div class="content-container">
          <h1 class="section-header">Gallery</h1>

          <div class="swipers-container">
            <swiper #swiper class='swiper' [config]="config">
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/before1.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/after1.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/before2.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/after2.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/before3.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/after3.jpg"></ng-template>
            </swiper>
            <swiper #swiper class='swiper' [config]="config">
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/room1-1.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/room1-2.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/room1-3.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/room1-4.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/room1-5.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/room1-6.jpg"></ng-template>
            </swiper>
            <swiper #swiper class='swiper tall' [config]="config">
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/Flooring/1.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/Flooring/2.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/Flooring/3.jpg"></ng-template>
              <ng-template swiperSlide><img class="swiper-pic" src="../../../assets/gallery-images/Flooring/4.jpg"></ng-template>
            </swiper>
          </div>

        </div>
      </div>
    </section>  
      
      <!-- Footer -->
    <section class="bg-dark">
      <div class="grid" id="info">
          <h1 class="section-header"> Contact Us </h1>
          <p> Phone: (770)-316-2965</p>
      </div>

      <a routerLink="estimator"><button>estimator (coming soon)</button></a>
    </section>



<!--Miscillanious
    --Header 
    <header class="header text-center" style="padding:128px 16px">

        <h1 class="homepage-title">Atlas Pro</h1>

        <p class="w3-xlarge">Painting & Home Remodeling</p>
        <p class="w3-xlarge">(770)-316-2965</p>

        <a routerLink="/estimator"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Online Estimate</button></a>
        
    </header>


    <span class="inside-left"> Moulding </span>
-->