/*General styles*/
*{
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.3125rem;
    line-height: 1.6;
}

/**/
header {
    margin-top: 60px;
}

.content-container {
    width: min(90%, 70.5rem);
}

/* possibly re-factor */
#mission {
    background-color: #dfdfdf;
    
}

#info {
    background-color: #666666;
}