/*General styles*/
*{
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.3125rem;
    line-height: 1.6;
}

section {
    padding: 3rem, 0;
}

.grid {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.text-center {
    text-align: center;
}

/**/
header {
    margin-top: 41.5px; /*60-18.5 b/c problem with box element in nav-bar component*/
}

.pic-container {
    margin-top: 41.5px;
    margin-inline: auto;
    max-height: 600px;
    overflow: hidden;
}

.pic {
    display: block;
    align-content: center;
    max-width: 100%;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 50.5rem);
    margin-inline: auto;
    border-radius: 4px;
}

.card > *  {
    
}

.inside-left {

}

.inside-right {
    width: 90px;
}

/* possibly re-factor */
.bg-light {
    background-color: #eeeeee;
    
}

.bg-dark {
    background-color: #666666;
    color: #ffffff;
}

/* for small screens */

@media screen and (max-width: 600px) {
    header{
        margin-top: 60px;
    }
    .pic-container{
        margin-top: 60px;
    }
    img{
    }
}