<!-- Navbar -->

<span class = "bossdiv">
    <div class='nav-container'>

        <nav class="link-flex-content">

            <a (click) = 'toggle()'> <img class="menu-icon" src="../../../assets/menu-bars-white.png"> </a>
            <!---->
            <ul class='nav__links'>
                <li><a routerLink="/">Home</a></li>
                    
                <li ><a href="#about">About</a></li>
                    
                <li ><a href="#gallery">Gallery</a></li>
            </ul>
            
        </nav>

        <div class="logo-container">
            <a routerLink="/"> <img class='logo' src='../../../assets/logo_white_letters.png' alt='logo'> </a>
        </div>

        <a class='cta' href='#'>
            <div class='cta' id="contact-info">
                <span class="material-icons md-18 phone-icon">call</span>
                <span id="number">(770)-316-2965</span>
            </div>
        </a>

    </div>

</span>

<div [@openClose]="isOpen ? 'open' : 'closed'" class="box">

    <a  routerLink="/">Home</a>
            
    <a  href="#about">About</a>
            
    <a  href="#gallery">Gallery</a>

</div>
