h1, h2, h3, h4 {
  margin: 0;
}

.center-text {
  text-align: center;
}

.bottom-bar {
  display: flex;
  justify-content: right;
  align-items: baseline;
  margin-bottom: 15px;
}

.component-container {
  position: relative;
}

.add-button {
  margin-bottom: 1rem;
}

.edit-room-name {
  display: flex;
  align-content: center;
}

.calc-button {
  margin-top: 1rem;
}

.bottom-buttons {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.stepper-comp {
  color: #fff;
}

.mat-stepper-horizontal {
  border-radius: 4%;
  margin-bottom: 5px;
}

.radio-content {
  white-space: normal;
}

.radio-label {
  border: none;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
  border: none;
}

.example-radio-button {
  margin: 5px;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.swiper {
    margin-bottom: 0;
  }
  
  .swiper-pic {
    display: block;
    width: 100%;
  }

.swiper-navigation {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%; 
}

  .swiper-button {
    width: 30px;
    height: 30px;
    background-color: white;
    align-items: center;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;
  }

/* ====================================================== */

input[type="checkbox"][id^="cb"] {
    display: none;
  }
  
  label {
    border: none;
    padding-bottom: 1.3rem;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked + label {
    border-color: none
  }
  
  :checked + label:before {
    content: "✓";
    background-color: rgba(23, 179, 30, 0.562);
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px rgb(201, 210, 137);
    z-index: -1;
  }