<div class="component-container">

  <button (click)="addRoom()" *ngIf="!roomTypeToggle">Add Room</button>

  <mat-horizontal-stepper class="stepper-comp" *ngIf="roomTypeToggle">
    <mat-step label="Type">
      <label class="radio-label">What kind of room do you need painted?</label>
      <mat-radio-group class="example-radio-group" [(ngModel)]="roomPicked">
        <mat-radio-button class="example-radio-button" *ngFor="let room_type of room_types" [value]="room_type">
          {{room_type}}
        </mat-radio-button> 
      </mat-radio-group>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Size">
      <div *ngFor="let swiper_comp of roomLayouts">
        <div class="swipers-container" *ngIf="swiper_comp.name == roomPicked">
          <swiper #swiper class='swiper' [config]="config">
            <ng-template *ngFor="let picture of swiper_comp.pictures" swiperSlide> 
              <input #radioButton name="options" type="radio" id="cb{{picture.picture}}" [checked]=false/>
              <label for="cb{{picture.picture}}"> <img class="swiper-pic" src={{picture.picture}}> </label>
            </ng-template>
          </swiper>
        </div>
      </div>

      <div class="swiper-navigation" *ngIf="roomPicked">
        <button class="swiper-button before" (click)="slidePrev()"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"/></svg> </button>
        <button class="swiper-button next" (click)="slideNext()"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"/></svg> </button>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <p>What parts of the room would you like painted?</p>

      <section class="example-section" [formGroup]="toppings">
        <h4>Select all that apply:</h4>
        <p>
          <mat-checkbox formControlName="walls">Walls</mat-checkbox>
          <mat-form-field appearance="fill" *ngIf="toppings.get('walls')?.value">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" placeholder="Ex. 2" min="1">
            <mat-error>Min amount: 1</mat-error>
          </mat-form-field>
        </p> 
        <p><mat-checkbox formControlName="ceiling">Ceiling</mat-checkbox></p>
        <p><mat-checkbox formControlName="trim">Trim/Moulding</mat-checkbox></p>
        <p><mat-checkbox formControlName="windows">Windows</mat-checkbox></p>
        <p><mat-checkbox formControlName="doors">Door(s)</mat-checkbox></p>
      </section>
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <p>question 2</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <p>question 3</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>  

</div>

  <!-- Misc
    Wall Condition Slider
  -->